{% extends 'base.html' %}
{% load static %}
{% block title %}my digital resume{% endblock title %}
{% block noinfomodal %}{% endblock noinfomodal %}
{% block content %}

<style>
.maincontainer {
    display:flex;
    margin:auto;
    margin-top: 15rem;
    
    width:60%;
    text-align: center;
}
#text{
    flex-grow: .7;
    margin-right:5px;
    display: grid;
    align-items: center;
}
#selfie{
    border-radius:50%;
}


</style>


<div class = 'maincontainer'> 
    <div id="text">
        <p>a quick (WIP) website to show off some of my interests</p>
        <br><br><p>fun projects are under the 'projects' header - click <span style="vertical-align: bottom;" class="material-symbols-outlined">info</span> for technical details</p>
        <br><br><p>more academic stuff is under 'writeups'</p>
        <br><br><p>formal resume, cv, and other info available under 'contact'</p>
        <br><br><p>built using django - click the github icon for source code</p>
    </div>
    <div id='selfie'>
        <img style='border-radius:50%;' src="{% static 'me.jpg' %}" alt="me (10 year old picture)">
        <p id="selfie-caption"><i>me</i></p>
    </div>
    
</div>


{% endblock content %}