{% extends 'base.html' %}
{% load static %}
{% block title %}my digital resume
{% endblock title %}

{% block content %}

<style>
.maincontainer {
    display:flex;
    margin:auto;
    margin-top: 15rem;
    
    width:60%;
    text-align: center;
}
#text{
    flex-grow: .7;
    margin-right:5px;
    display: grid;
    align-items: center;
}
#selfie{
    border-radius:50%;
}


</style>


<div class = 'maincontainer'> 
    <div class="big" id="text">
        a quick (WIP) website to show off some of my interests
        <br><br>fun projects are under the 'projects' header
        <br><br>more academic stuff is under 'writeups'
        <br><br>formal resume, cv, and other info available under 'contact'
        <br><br>built using django - click the github icon for source code
    </div>
    <div id='selfie'>
        <img style='border-radius:50%;' src="{% static 'me.jpg' %}" alt="me (10 year old picture)">
        <p id="selfie-caption"><i>me</i></p>
    </div>
    
</div>


{% endblock content %}